---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import {getAssetsPrefix} from "astro/dist/assets/utils/getAssetsPrefix";
import Prices from "../components/widgets/Pricing.astro";

const telegramBotImg = '~/assets/images/telegram.png';
const telegramBotLink = 'https://t.me/quizpalbot';
const qzpalLink = '~/assets/images/quizpalbot.png';
const birdsAreRealLink = '~/assets/images/features/birds-are-not-real.png';
const timerLink = '~/assets/images/features/30-secs.png';
const explainLink = '~/assets/images/features/explain.png';
const learnMoreLink = '~/assets/images/features/learnmore.png';
const suggestedTopicsLink = '~/assets/images/features/suggested_topics.png';
const metadata = {
  title: 'Quizpal - Learn anything!',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
      ]}
      actions={[
        {
          text: 'Quiz Me!',
          href: 'https://t.me/quizpalbot',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* --> 

  <Hero2
    tagline="Learn anything!"
    image={{
      src: qzpalLink,
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">
      Learn through AI generated quizzes
    </Fragment>

    <Fragment slot="subtitle">
      @QuizpalBot sends you AI generated Quiz questions on a topic of your choosing. Explanations, Direct links to
      research papers and suggested topics are also provided to help you learn more and dive deeper into the topic.
    </Fragment>


    <div slot="actions" class="flex">
      <Button variant="link" href={telegramBotLink}>
        <Image src={telegramBotImg} alt="App Store Image" width={300}/>
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->
  <Features3
    id="topics"
    title="Send the bot a topic"
    subtitle="The bot will send you a quiz on that topic, only one answer is correct!"
    tagline="Could be any topic, idk"
    columns={2}
    items={[]}
    image={{
      src: birdsAreRealLink,
      alt: 'Colorful Image',
    }}
  />

  <!-- Features3 Widget ************** -->
  <Features3
    id="timer"
    title="Choose an option"
    subtitle="The bot will reply to you in 30 seconds with the options to get an explanation or the next question."
    tagline="You have 30 seconds to answer"
    columns={2}
    items={[]}
    image={{
      src: timerLink,
      alt: 'Colorful Image',
    }}
  />

  <!-- Features3 Widget ************** -->
  <Features3
    id="explanation"
    title="Get an explanation"
    subtitle="You will get a short explanation along with direct links to research papers on your topic."
    tagline="Learn more"
    columns={2}
    items={[]}
    image={{
      src: explainLink,
      alt: 'Colorful Image',
    }}
  />

  <!-- Features3 Widget ************** -->
  <Features3
    id="suggested"
    title="Suggested topics"
    subtitle="Click to copy them to your clipboard to send it back to the bot to switch your current topic."
    tagline="Welcome to the rabbit hole"
    columns={2}
    items={[]}
    image={{
      src: suggestedTopicsLink,
      alt: 'Colorful Image',
    }}
  />

  <!-- Features3 Widget ************** -->
  <Features3
    id="leanmore"
    title="Search engine ready links"
    subtitle="Learn more provides several links to search engines and services like chatgpt that has your question already filled in. You can also copy the question if you have another search engine in mind."
    tagline="Knowledge is power"
    columns={2}
    items={[]}
    image={{
      src: learnMoreLink,
      alt: 'Colorful Image',
    }}
  />


  <Prices
    title="Topup Pricing"
    subtitle="Powered by Telegram Stars"
    prices={[
      {
        title: 'Basic Topup',
        subtitle: 'You can topup by sending /topup within the bot or you will be prompted to topup when you run out of points',
        price: 4.99,
        period: 'Once',
        items: [
          {
            description: '400 In-game points for 250 Telegram Stars',
          },
          {
            description: 'Never expires',
          },
          {
            description: '1 point = 1 question',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: 'https://t.me/quizpalbot',
        },
      },
      {
        title: 'Basic Topup',
        subtitle: 'You can topup by sending /topup within the bot or you will be prompted to topup when you run out of points',
        price: 14.99,
        period: 'once',
        items: [
          {
            description: '2500 In-game points for 750 Telegram Stars',
          },
          {
            description: 'Never expires',
          },
          {
            description: '1 point = 1 question',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: 'https://t.me/quizpalbot',
        },
      },
      {
        title: 'Topup Points',
        subtitle: 'You can topup by sending /topup within the bot or you will be prompted to topup when you run out of points',
        price: 29.99,
        period: 'once',
        items: [
          {
            description: '10,000 In-game points for 1500 Telegram Stars',
          },
          {
            description: 'Never expires',
          },
          {
            description: '1 point = 1 question',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: 'https://t.me/quizpalbot',
        },
      },
    ]}
  />

  <!--
  4.99 -  400 points - per point = 82 points per dollar
  14.99 - 2500 points - per point = 167 points per dollar (100% more points)
  29.99 - 10,000 points - per point = 334 points per dollar (200% more points)
  -->


  <!-- CallToAction Widget *********** -->
  <CallToAction
    id="download"
    title="No Downloads needed!"
    subtitle="@quizpalbot runs on telegram, simply click start after visiting our bot and thats it!. You also keep your chat history on all devices. Telegram is awesome! <3"
  >


    <div slot="actions" class="flex mx-auto">
      <Button variant="link" href={telegramBotLink}>
        <Image src={telegramBotImg} alt="App Store Image" width={300}/>
      </Button>
    </div>
  </CallToAction>
</Layout>
